# Build Folders
bin/
obj/

# User-specific files
.vscode/
*.user
*.suo
*.vscode
*.vsidx

# Visual Studio Code specific
.vscode/
.vscode/*

# Dotnet specific
project.lock.json
project.assets.json
project.nuget.cache
*.nuspec
*.nupkg
*.dll
*.exe
*.pdb
*.mdb
*.log
*.cache
*.ide
*.csproj.user
*.csproj.DotSettings

# Dependencies
packages/
packages/*

# Entity Framework
*.mdf
*.ldf

# ASP.NET Core
appsettings.json
appsettings.Development.json

# Rider / JetBrains
.idea/
*.DotSettings.user

# Resharper
*.DotSettings.user
_ReSharper.Caches/

# Ignore logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
